.chatwindow{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

@media  (min-width: 760px){

    .chatwindow{
        max-width: 600px;
        margin: auto;
    }
}

.chatwindow-header{
    height: 60px;
    border-bottom: 1px solid #CCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(15, 188, 231, 0.897);
}

.chatwindow-header-info{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chatwindow-avatar{ 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;


}

.chatwindow-name{
    font-size: 17px;
    color: rgb(255, 255, 255);

}

.chatwindow-headerbuttons{
    display: flex;
    align-items: center;
    margin-right: 15px;
}


.chatwindow-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    transition: all ease 0.3s;
}

.chatwindow-body{
    flex: 1;
    overflow-y: auto;
    background-color: #E5DDD5;
    background-size: cover;
    background-position:center;
    background-image: url('../assets/cartoon-cloud-sky-background-1.jpg');
    padding: 20px 30px;
    
}

.chatwindow-body::-webkit-scrollbar{
    width: 6px;
    height: 6px;
  }

.chatwindow-body::-webkit-scrollbar-thumb{
    background-color: rgba(0,0,0,0.2);
  }

.chatwindow-footer{
    height: 62px;
    display: flex;
    align-items: center;
    background-color: rgba(15, 188, 231, 0.897);


}

.chatwindow-pre{
    display: flex;
    margin: 0 15px;
}

.chatwindow-inputarea{
    flex: 1;

}

.chatwindow-input{
    width: 100%;
    height: 40px;
    border: 0;
    background-color: #FFF;
    border-radius: 5px;
    font-size: 15px;
    color: #A4A4A4;
    padding-left: 15px;

}

.chatwindow-pos{
    display: flex;
    margin: 0 10px;
}

.chatwindow-emojiarea{
    height: 200px;
    overflow-y: hidden;
    transition: all ease 0.3s;
}

aside.emoji-picker-react{
    width: 100%;
    background-color: rgba(15, 188, 231, 0.719);
}

.emoji-picker-react .emoji-group:before{
    background-color:none ;
}
